h1 {
    margin-top: 50px;
    text-align: center;
}
div {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
img {
    display: block;
    margin: auto;
    width: 25%;
}
input {
    margin: 0 auto;
}
.error-output {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    color: red;
}
